* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px;
}

.wrap {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

header {
  padding: 20px 0
}

table {
  text-align: left;
  font-weight: 200;
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.verb {
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
}

header .verb:before {
  content: ' ·  ';
 }

td.verb {
  text-align: right;
  vertical-align: middle;
}

.resource {
  display: inline-block;
  border-radius: 7px;
  background: #ebebeb;
  font-size: 12px;
  padding: 0px 6px;
  color: #555555;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr:nth-child(odd)>td {
  background-color: #f9f9f9;
}

tr:hover td {
  background-color: #f0ebeb;
}

td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  display: table-cell;
  color: #666;
}

th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: bottom;
}
